[2021-07-19 17:27] fmvilas opened #23 "Support different asyncapi file names: asyncapi.json and asyncapi.yml"
#### Reason/Context
Some people are using the JSON format of AsyncAPI or they name their files as `asyncapi.yml` (notice the `.yml` instead of `.yaml`).

#### Description
It would be awesome if Glee could auto-detect that you're using one of those files. It could also complain when you use many of them at the same time. For instance, if it finds `asyncapi.yaml` and `asyncapi.json`.

[2021-07-19 17:29] magicmatatjahu commented on #23
Maybe should be labelled with `good first issue`?

[2021-07-19 17:29] fmvilas opened #24 "Get rid of glee init"
#### Reason/Context
We don't need `glee init` anymore since we now have `create-glee-app`.

#### Description
I think it would be a good idea to remove the `glee init` script.

[2021-07-19 17:37] fmvilas opened #25 "Add support for an HTTP/FaaS runtime"
#### Reason/Context
We're currently hosting the functions within the same repository but it could be useful to have them as serverless functions.

#### Description
Implement an HTTP runtime that will make an HTTP call to a FaaS (Function as a Service) provider and waits for the HTTP response.

The HTTP response may vary from one provider to another. From the top of my head, we should support AWS L

[2021-07-19 17:49] fmvilas opened #26 "Add support for clusterization"
#### Reason/Context
Currently, Glee would not behave great when spanning multiple instances. The reason is the [`broadcast`](https://github.com/asyncapi/glee/blob/master/docs/functions.md) option. As it is right now, we're storing connections in memory, so when a function responds saying it wants to broadcast a message, it goes through all the connections and sends the message. Obviously, if we ha

[2021-07-19 17:56] fmvilas opened #27 "Add support for retries, backpressure, and at-most-once, at-least-once, and exactly-once semantics"
#### Reason/Context
There are many points in the existing codebase that can lead to lost messages.

#### Description
We should review and identify which parts of the codebase can cause problems and fix them. We should be looking for:

1. Retries. What if calling a function fails? Especially when we implement the HTTP runtime. We should be retrying and letting the user configure how to do it.
2. Ba

[2021-07-26 12:56] jonaslagoni opened #31 "Introduce project type configuration"
#### Reason/Context
It would be great to know exactly what project type, glee is executing. That way it knows what runtime to run and what extra functionality it needs to perform.

#### Description
I suggest we add something similar to what the generator has for [nunjucks and react](https://github.com/asyncapi/generator/blob/master/docs/authoring.md#configuration-file) called `renderer`, here mayb

[2021-07-26 13:17] fmvilas commented on #31
Agree to remove the env variable. This is not something that changes from one environment to another 👍

However, I'd introduce a similar concept in the config file. Something like:

[code]

Once `runtime` is not an experimental feature anymore, we take it out. However, if a given runtime is still experimental, you'd have to enable it explicitly. For instance:

[code]

or even

[code]

[2021-07-26 13:21] fmvilas commented on #31
Following with the Python example, we may also want to consider something like:

[code]

This would be once the feature is not experimental.

[2021-09-27 19:39] fmvilas commented on #31
@jonaslagoni do you still want to work on this?

[2021-09-27 19:40] fmvilas commented on #23
Keeping it open for now. It's something that needs to be done at some point.

[2021-09-28 09:53] jonaslagoni commented on #31
Yes, if I had more hours in the day 😆 For now I can't dedicate the effort necessary to push glee further,🤞in the new year.

[2021-09-30 13:21] derberg opened #114 "'server' is already declared in the upper scope."
Details: https://sonarcloud.io/project/issues?id=asyncapi_glee&issues=AXqhLDqqAeRbydshud2H&open=AXqhLDqqAeRbydshud2H

Code: `src/lib/adapter.js`

Explanation: Variables should not be shadowed. Overriding or shadowing a variable declared in an outer scope can strongly impact the readability, and therefore the maintainability, of a piece of code. Further, it could lead maintainers to introduce bugs

[2021-09-30 13:22] derberg opened #115 "'Adapter' is already declared in the upper scope."
Details: https://sonarcloud.io/project/issues?id=asyncapi_glee&issues=AXqaiNMrP8p3iozZcvlP&open=AXqaiNMrP8p3iozZcvlP

Code: `src/lib/glee.js`

Explanation: Variables should not be shadowed. Overriding or shadowing a variable declared in an outer scope can strongly impact the readability, and therefore the maintainability, of a piece of code. Further, it could lead maintainers to introduce bugs bec

[2021-09-30 13:23] derberg opened #116 "'./lib/runtimes/index.js' import is duplicated."
details: https://sonarcloud.io/project/issues?id=asyncapi_glee&issues=AXqaiNN0P8p3iozZcvlZ&open=AXqaiNN0P8p3iozZcvlZ

code: `src/index.js`

[2021-09-30 14:19] kanumalivad commented on #116
Kindly assign to me

[2021-09-30 14:51] joeljose350 commented on #116
I have opened a pull request that fixes this issue.

[2021-09-30 15:49] iamsdas commented on #24
Can I take this up?

[2021-09-30 17:00] NuclearCactus commented on #115
Please assign this issue to me, I'll help you with it right away!

[2021-09-30 17:41] ayasahmad63 commented on #115
pls assign to me

[2021-09-30 18:44] NuclearCactus commented on #114
Please assign me this issue, I'll get to fixing immediately

[2021-10-01 16:30] magicmatatjahu commented on #115
@ayasahmad63 @NuclearCactus Hi! Both of you are making the same mistake in your PRs. `Adapter` variable in the `addAdapter` function is needed: the single item/object in the `adapters` array has exactly `Adapter` field, so you should propagate the first argument to new item in the `adapters` array. How to do it I won't say, that's what learning is all about :)

I don't want to decide which PR will

[2021-10-01 16:55] #114 closed

[2021-10-01 17:00] magicmatatjahu commented on #116
Resolved by #117

[2021-10-01 17:00] #116 closed

[2021-10-04 09:20] derberg commented on #115
Not sure where are we here 😄 what should we review?

[2021-10-04 09:37] magicmatatjahu commented on #115
As I see @ayasahmad63 closed his PR, so @NuclearCactus please follow with mu suggestion in the https://github.com/asyncapi/glee/pull/119 PR :)

[2021-10-04 14:13] NuclearCactus commented on #115
Okay, I'll try my best to solve this issue!

[2021-10-15 13:05] #24 closed

[2021-10-15 13:59] panwauu opened #144 "Port Glee to TypeScript"
#### Reason/Context
As the spec already defines all the types and schema regarding the communication, Glee misses out on a lot of benefits that typescript could provide here. After all typescript was also written with a smiling developer in mind 😄.

#### Description
Porting to typescript will require large changes in the codebase. Each js file will have to be touched and also the execution process

[2021-10-17 19:33] panwauu opened #148 "Make linter stricter on formatting of js files"
#### Describe the bug
I noticed some inconsitencies in the formatting of the js files. While this is not critical at all, it is annoying for me as I cant configure my environment to use formatting on save as this always produces changes. I am no expert with the .eslintrc files. Is there another asnycapi project with an up-to-date version that can be reused here?
I think the linter should enforce b

[2021-10-17 19:36] panwauu opened #149 "Enable test in github actions"
In #146 I introduced the first test and if it gets approved I plan to add them whenever I implement a new feature and also add them for existing code.
If the PR with the test gets merged it would be nice to include test in the CI.

[2021-11-09 17:36] fmvilas commented on #25
Yeah! The last point is optional though. Depending on the protocol we may not be able to give any feedback to the user.

[2021-11-24 10:05] GeraldLoeffler opened #192 "feat: Glee's message sending API should be as DRY as possible"
Glee supports message handlers (which are invoked upon receiving a message) as well as the sending of messages (typically from within message handlers).

- When sending a message, a Glee app makes use of `OutboundMessage`s, which can be used to `send`, `reply`, and/or `broadcast` a message (https://github.com/asyncapi/glee/blob/master/docs/functions.md).
- Also, `OutboundMessage` contains the `cha

[2021-11-24 19:33] fmvilas commented on #192
Just to add to what you said:

* A Glee app can be a server (eg., WebSocket or HTTP server), a client (eg., MQTT), or both (eg., a WS server and an MQTT client).
* Only servers should have the "broadcast" functionality. That isn't to say there should be a `broadcast` keyword. In the case of servers, `send` should behave as "broadcasting to all clients" and `reply` should behave as "sending to a sp

[2021-12-16 18:23] fmvilas opened #206 "Add docs on how Glee works"
It would be awesome to have docs explaining how Glee works. These docs should be mainly targeted at contributors or potential contributors.

[2021-12-16 18:51] fmvilas opened #207 "Remove Java runtime"
I've recently been thinking a lot about the scope of Glee and realized that having support for Java and other languages might be a bit overkilling at this stage. I propose we get rid of this feature now and consider it for the future. We don't lose anything, the code will still be there in the git history.

Instead, I think by moving to TypeScript (#144) we can simply encourage Java users to use T

[2021-12-17 07:41] boyney123 commented on #207
Yeah, we always come back to it if the community is asking for it right? Think it's a good idea to simplify for sure!

[2022-01-05 15:07] KhudaDad414 opened #222 "Error while running glee on Windows"
Operating system: Windows 11
Node: 14
#### Describe the bug
When I try to run a project generated by glee using `npm run dev` command it shows this error:
[code]
After trying to hit the endpoint with `websocat` I get this error:

[code]
#### How to Reproduce
1) run `npx create-glee-app`
2) go to the app folder.
2) run `npm run dev`

#### Expected behaviour
It shouldn't show any error and run as de

[2022-01-05 20:25] miguelrk opened #223 "feat: expose (isomorphic) API to consume AsyncAPI doc and generate server/client dynamically"
I've been looking for a tool to dynamically/programatically consume OpenAPI specs to generate javascript/typescript clients, but most tools seem to be CLIs that output the full server and/or client code after running a command line operation.

For illustration purposes, I'm thinking about an API something like the following:
[code]
The required protocols can be easily parsed from the AsyncAPI docu

[2022-01-05 20:38] miguelrk commented on #223
According to comments in [this slack thread](https://asyncapi.slack.com/archives/CQVJXFNQL/p1641260134486000), Glee already implements the functionality to generate clients and servers internally.

Some discussed options for making client/server generation code available for dynamic generation of clients/servers were:

1. Export to standalone (isomorphic) library and publish as npm package, for Gl

[2022-01-09 10:25] sudoshreyansh commented on #23
Does this issue need any more work ?

[2022-01-09 10:32] sudoshreyansh commented on #148
Can I work on this issue ?

[2022-01-10 06:13] KhudaDad414 commented on #222
This issue has been resolved by upgrading the `node` version to `17`. feel free to close this if it is not relevant anymore.

[2022-01-10 10:50] sudoshreyansh commented on #192
Can I work on this issue ?

[2022-01-10 16:43] #144 closed

[2022-01-10 18:21] sudoshreyansh commented on #222
I used node v17.3.0 but the error still exists.

[2022-01-12 18:57] fmvilas commented on #192
Absolutely! Go ahead!

[2022-01-12 23:12] fmvilas commented on #23
There's a PR from @panwauu: https://github.com/asyncapi/glee/pull/146. Did a review a while ago but he doesn't respond. Let's give him some more days and if he doesn't respond we can move it forward.

[2022-01-14 20:00] miguelrk commented on #223
Just to keep track, here are some runtime libraries (not codegen) which allow dynamic client creation within JS/TS for OpenAPI:
- [anttiviljami/openapi-client-axios](https://github.com/anttiviljami/openapi-client-axios)
- [ninofiliu/oa-client](https://github.com/ninofiliu/oa-client)

Something similar is what I was intending for AsyncAPI with this issue, here an example from openapi-client-axios:

[2022-01-15 18:42] fmvilas commented on #223
And in a similar fashion but from the server point of view: https://github.com/anttiviljami/openapi-backend.

[2022-01-15 18:42] fmvilas commented on #223
@miguelrk would you be willing to open a PR for this issue? I'm happy to guide you as needed.

[2022-01-15 20:29] miguelrk commented on #223
Yes! I'd be glad to, just need to finish some other stuff first. Mind keeping this open for a while? 😀

[2022-01-16 20:53] fmvilas commented on #223
Yeah, I can work on other stuff first. I'm actually adding tests now so it may help you refactor the code too.

[2022-01-17 06:47] sudoshreyansh commented on #26
I would like to work on this issue.

[2022-01-17 10:22] fmvilas commented on #26
Awesome, @sudoshreyansh! Go ahead with it. Is there anything I can do to help you? Happy to help here or in [our Slack workspace](https://www.asyncapi.com/slack-invite).

[2022-01-17 12:39] fmvilas opened #235 "Add more tests"
#### Reason/Context
In #230, I added an initial set of tests. They're enough for now but would be great to get better coverage.

#### Description
Add more tests. Look at test coverage results and improve them too.

#### Notes
Regarding `good first issue` label, I think it's a good one if you're learning how to test your code. However, if you've never done testing before it can be challenging. Anyh

[2022-01-17 15:01] #149 closed

[2022-01-19 08:47] fmvilas commented on #27
Dear bot, keep this issue open because we still need to work on it.

[2022-01-19 10:23] #192 closed

[2022-01-22 17:27] fmvilas opened #239 "Social network example is failing"
#### Describe the bug
The example at `examples/social-network` is failing.

#### How to Reproduce
Try going to this folder, and running `npm run dev` on any of the Glee apps.

It fails because the `lowdb` package is an ES Module (those using `import` instead of `require`) and we're compiling all the Typescript code (except `node_modules`) to CommonJS modules (those using `require` instead of `impo

[2022-01-26 16:16] #26 closed

[2022-02-02 17:00] #31 closed

[2022-02-02 17:01] fmvilas commented on #31
Closing as it's not relevant anymore. We decided to remove runtimes on #207.

[2022-02-04 12:13] fmvilas commented on #222
That's weird. It's working well for me 🤔

[2022-02-10 13:18] sudoshreyansh commented on #239
I would like to work on this issue.

[2022-02-22 13:31] sudoshreyansh opened #255 "Making testing easier with Glee"
#### Reason/Context
To test Glee applications, developers have to either rely on 3rd party tools or write their tests. This could be hugely simplified if Glee shipped with automated testing features.

#### Description
Developers would write tests within a Glee project in a separate directory. While writing tests, developers should only focus on the message being sent to the server and the response

[2022-02-22 13:36] sudoshreyansh commented on #255
@fmvilas please add the gsoc label to this issue.

I want to work on this idea in GSoC.

[2022-02-22 13:42] fmvilas commented on #255
Done! Thanks a lot for taking the time to create it 🙏

[2022-02-24 07:58] fmvilas opened #256 "Add support for Kafka"
#### Reason/Context

Currently, Glee only supports WebSockets (server) and MQTT protocols. This means it's unusable for those using Kafka, AMQP, or any other different protocol.

#### Description

We should add support for Kafka. In theory, it should be just a matter of adding a new adapter in [the `adapters` folder](https://github.com/asyncapi/glee/tree/master/src/adapters). However, we should al

[2022-02-24 08:00] fmvilas opened #257 "Add support for AMQP 0-9-1"
#### Reason/Context

Currently, Glee only supports WebSockets (server) and MQTT protocols. This means it's unusable for those using Kafka, AMQP, or any other different protocol.

#### Description

We should add support for AMQP 0-9-1. In theory, it should be just a matter of adding a new adapter in [the `adapters` folder](https://github.com/asyncapi/glee/tree/master/src/adapters).

[2022-02-24 08:02] fmvilas opened #258 "Add support for AMQP 1.0"
#### Reason/Context

Currently, Glee only supports WebSockets (server) and MQTT protocols. This means it's unusable for those using Kafka, AMQP, or any other different protocol.

#### Description

We should add support for AMQP 1.0. In theory, it should be just a matter of adding a new adapter in [the `adapters` folder](https://github.com/asyncapi/glee/tree/master/src/adapters). Beware AMQP 1.0 an

[2022-02-24 08:20] fmvilas opened #259 "Add support for WebSocket clients"
#### Reason/Context

Currently, Glee only supports creating a WebSocket server. That makes it unusable when someone wants to build a WebSocket client to connect to an existing WS server.

#### Description

We already have support for WebSocket but it's always assuming we want to create a server, and that's plain wrong. Instead, Glee should default to creating a WS client and only create a server w

[2022-02-24 09:10] fmvilas opened #260 "Add support for HTTP servers and clients"
#### Reason/Context

Currently, Glee only supports WebSocket and MQTT protocols. That makes it unusable for someone wanting to use any other protocol, like HTTP.

#### Description

Glee should be able to create an HTTP server (API) or a client out of an AsyncAPI definition. We can probably use the same `x-kind` extension defined in #259, as a way to understand when we want a client and when we wan

[2022-02-24 09:34] AMorgaut commented on #260
To me there is a specific usage of HTTP that totally makes sense for AsyncAPI and which is not WebSocket

I'm thinking about [EventSource ](https://developer.mozilla.org/en-US/docs/Web/API/EventSource) aka "Server-Sent Events" which is typically event-based

[2022-02-25 11:26] fmvilas commented on #260
That's a good point, @AMorgaut. I don't think it should be separated. We should aim for full HTTP support IMHO.

[2022-02-25 11:47] fmvilas opened #261 "Automatically generate docs"
#### Reason/Context

When describing the benefits of a spec-driven framework like Glee, I'm always mentioning the fact that we could have docs and code always in sync. However, we're not generating any docs, we're leaving this responsibility to the user, which kinda breaks the purpose 😅

#### Description

We should provide a way to automatically generate docs. Here are the ways that come to my min

[2022-02-25 18:18] deepanshu44 commented on #260
Hello @fmvilas , I just want to ask that should I work on this issue? Is it difficult to solve this issue?
Thanks

[2022-02-25 19:19] deepanshu44 commented on #259
Hello @fmvilas , I just want to ask that can I work on this issue? Is it difficult to solve this issue?
Thanks

[2022-02-26 17:51] fmvilas commented on #259
Hey @deepanshu44! I'd say just go ahead but this issue is marked to be part of GSoC (Google Summer of Code) so I'm not sure how to proceed here. @derberg you are our GSoC expert, is it a problem? @deepanshu44 do you plan to participate at GSoC this year?

[2022-02-28 11:44] atharvagadkari05 commented on #258
@fmvilas I would like to work on this issue under the GSOC tag. I want to discuss some of the things which will just clarify my doubts even further.

[2022-03-01 05:36] likitarai1 commented on #261
I would like to create a GSoC proposal on this issue.

[2022-03-01 12:26] derberg commented on #259
it is definitely ok to remove the label and move under https://www.asyncapi.com/blog/openforce-2022 and if you complete it in March we can at least send you an AsyncAPI t-shirt

[2022-03-01 12:26] derberg commented on #259
just remember to update mentioned blog post with link to this issue if you want to commit to Open Force

[2022-03-03 06:32] deepanshu44 commented on #259
Thanks, @derberg, I will send a PR to the website with the link to this issue.
Sorry for the late reply, BTW.

Hello @fmvilas, I think I should get started on this issue. :-)

[2022-03-03 07:55] atharvagadkari05 commented on #258
The `adapter` folder has two different files for `ws` and `socket.io`. Do we have to make two different files for AMQP and RabbitMQ for the integration?

[2022-03-03 15:32] fmvilas commented on #259
@deepanshu44 I removed the `gsoc` label, meaning you can get started :)

Absolutely. Glee supports different protocols via `adapters`. We already have a [`ws`](https://github.com/asyncapi/glee/blob/master/src/adapters/ws/index.ts) that is always assuming we want to create a WebSocket server. We should probably rename this adapter to `ws-server` and create another one called `ws-client`. After that

[2022-03-03 15:44] fmvilas commented on #258
No, since RabbitMQ uses AMQP 0-9-1, this is something to be implemented in #257.

[2022-03-05 18:20] deepanshu44 commented on #259
Just an update, I wrapping my head around this problem which is taking some time.

[2022-03-08 14:35] deepanshu44 commented on #259
@fmvilas I sent a PR with not so great changes 😅

[2022-03-09 02:34] AceTheCreator commented on #261
@fmvilas since GSOC rejected us this year, I guess I should just work on this issue. I need to get familiar with glee very well cuz I'll be using it as an example of one of the amazing tools the AsyncAPI community is building during my talk at Osca fest later this month.

[2022-03-09 07:08] fmvilas commented on #261
Yeah go ahead mate :+1:

[2022-03-10 05:03] sudoshreyansh commented on #25
@fmvilas The runtime mechanism was removed in #212, so is this feature still relevant?

[2022-03-14 06:56] fmvilas opened #268 "Glee fails when received or sent data doesn't match definition"
#### Describe the bug
When we receive or try to send a message that doesn't match the definition in the AsyncAPI file, Glee breaks without showing the error and instead shows an `UnhandledPromiseRejectionWarning: TypeError` error.

#### How to Reproduce
Go to `social-network` example and change `postId` to be a string instead of a number. Either do it in the code or in the AsyncAPI file but not bo

[2022-03-14 06:57] fmvilas commented on #268
I just realized that the `Array.at` function is available only after Node.js 16.6.0 and I was using 14.15.1. So maybe this issue should be more about not letting users run Glee in older Node.js versions? 🤔 Happy to close it and create a new one or edit this one.

[2022-03-14 07:03] fmvilas opened #269 "Logs show "broadcasted" when sending to a broker"
#### Describe the bug
The dev logs show the "broadcasted" word when sending to a broker. That's incorrect and can lead to confusion.

#### How to Reproduce
![Captura de pantalla 2022-03-14 a las 7 58 45](https://user-images.githubusercontent.com/242119/158120657-b4d3ad01-72cc-4afb-b976-311db14db30f.png)

#### Expected behavior
It should show the word "sent". For instance, "post/liked was sent to m

[2022-03-14 07:19] fmvilas opened #270 "Nothing fails/logs when a Glee Function returns an unknown structure"
#### Describe the bug
Glee Functions should either return `undefined` or a well-known object containing either `send` or `reply` keys. If I return something different, say an Array —for instance—, Glee doesn't complain in any way and therefore it's hard to debug what's wrong in your code.

#### How to Reproduce
Go change the [returned value here](https://github.com/asyncapi/glee/blob/master/exampl

[2022-03-14 07:22] fmvilas opened #271 "[Docs Bug 🐞 report]: Functions `broadcast` option is still in the docs"
### Describe the bug you found in AsyncAPI Docs.

Functions documentation shows that we can use the `broadcast` key in the returned object but that's not the case anymore.

### Attach any resources that can help us understand the issue.

Scroll down to the table in the [Functions docs](https://github.com/asyncapi/glee/blob/master/docs/functions.md) where there are three options listed: send, reply

[2022-03-20 11:07] achrinza opened #275 "Switching to `node-ipc` altenatives"
#### Describe the bug

Currently, this framework has a [direct dependency on `node-ipc@^10.0.1`](https://github.com/asyncapi/glee/blob/2b2fb5455c034f73851afe9781d73c9116084155/package.json#L54). Considering the recent developments of the `node-ipc` maintainer [publishing malicious versions](https://snyk.io/blog/peacenotwar-malicious-npm-node-ipc-package-vulnerability/), are there any plans to swit

[2022-03-20 12:36] jonaslagoni commented on #275
The dependency is leftover from earlier implementation, it's getting removed: https://github.com/asyncapi/glee/pull/274

[2022-03-20 12:36] #275 closed

[2022-03-21 12:51] #270 closed

[2022-04-05 17:57] fmvilas commented on #207
This one is already solved. Closing.

[2022-04-05 17:57] #207 closed

[2022-04-11 10:24] #235 closed

[2022-04-19 10:08] Souvikns commented on #260
@fmvilas by client do you mean glee server will make a API call to the client server as per the bindings information and the data that is returned from `operationId` function?

[2022-04-22 15:40] pratik2315 commented on #271
Hey @fmvilas ! Can I work on this issue if its alright with you ?

[2022-04-22 15:41] fmvilas commented on #271
Absolutely! Go ahead 🙂

[2022-04-27 09:21] #271 closed

[2022-04-28 10:45] fmvilas commented on #260
Nope. I mean Glee should behave like a client not like a server. It should make calls to some APIs but it shouldn't be a server itself.

[2022-05-02 13:16] ritik307 commented on #27
@fmvilas @derberg I would like to work on this as part of the Mentorship program. 😊

[2022-05-02 14:02] Ruchip16 commented on #256
@fmvilas Would like to work on this issue as a part of the Mentorship program

[2022-05-02 14:32] atharvagadkari05 commented on #258
Great to be back at this issue. I've already started working on this issue.
Do I have to explain how I'm gonna execute this, here?
@fmvilas @derberg

[2022-05-02 18:25] fmvilas commented on #256
This is cool! This is an important one! Good choice :)

We'll wait until June 6 to announce the candidates but in the meantime feel free to ask any questions you may have. Good luck! 🤞

[2022-05-02 18:27] fmvilas commented on #258
No, you don't have to but feel free to share as much information as you want. Please, bear in mind we'll decide on the list of candidates by June 6th so I would not work on this in the meantime.

[2022-05-03 03:29] darp99 commented on #25
Hello sir, @fmvilas
This sounds really interesting if no one is working on this issue then i like to work on this for a part of mentorship program but i have to first learn required skills for this so can i get help form you for move ahead.

[2022-05-03 06:13] Ruchip16 commented on #256
Sure, hoping for the best meanwhile would check the references attached above to get a more detailed understanding of the issue.

[2022-05-03 07:53] Souvikns commented on #260
🤔 Kinda confused, I should be able to create a http REST API with glee if I want right, so like I would make an API call to glee through http and get a response. Would you call it a server?

[2022-05-05 10:22] fmvilas commented on #260
Yeah sorry, somehow I got confused by your question too. What I mean is that Glee should behave in two different ways, depending on how you configure your AsyncAPI document:

1. As a server: this would, for instance, leverage ExpressJS or something similar behind the scenes. This is for people who want to create a REST API.
2. As a client: this would let you make calls to **other** REST APIs. Say,

[2022-05-05 10:25] fmvilas commented on #25
Awesome! Yeah, no worries. During the mentorship program, I'll be here to support you. If this issue gets selected, of course 😄

[2022-05-05 16:14] ritik307 commented on #260
Hi, @fmvilas I would like to work on this issue. So can you kindly help me out in figuring out where to start? Like should I start making REST APIs or some other approach? 😊

[2022-05-06 05:27] sudoshreyansh commented on #27
Hi, I would like to work on this as a part of the mentorship program, if it gets selected.

[2022-05-06 06:38] Souvikns commented on #260
Hey, @ritik307 I was working on this issue and made some progress as well https://github.com/asyncapi/glee/pull/265, since we need to update the bindings I am focusing on that right now https://github.com/asyncapi/bindings/pull/131. I would love to mentor you (if you want me as a mentor) if this idea gets issue gets selected.

[2022-05-10 09:49] likitarai1 commented on #257
Hi @fmvilas I would like to work on this issue as a part of the Mentorship program.

[2022-05-10 09:51] fmvilas commented on #257
Awesome! If you have any questions meanwhile we decide which issues/people get selected for the mentorship program, let me know. Happy to answer them 🙂

[2022-05-10 09:56] likitarai1 commented on #257
I was looking into the adapters folder just now to understand the issue in depth. If you could share some more details or references it would be a great help.

[2022-05-11 20:23] ayushpaharia commented on #260
Hello @Souvikns Can you give some context on this issue. I'm interested in working on this as a Mentorship project

[2022-05-12 21:53] AceTheCreator commented on #261
Yo @fmvilas, now I have the time to start contributing to this project. LOL

Wanna confirm when you say docs, do you mean the AsyncAPI docs?

[2022-05-12 22:33] fmvilas commented on #261
Yeah, leverage Generator to generate HTML or markdown docs.

[2022-05-13 09:39] Souvikns commented on #260
So I will be mentoring this issue if it gets selected 😄 . To answer both @ayushpaharia and @ritik307 you should start getting familiar with glee and its codebase. I would suggest you fork and play around with glee. look into the examples folder to get a better understanding of how glee is working. Secondly, start reading the codebase and tweaking some code here and there to get a feel of things.

[2022-05-13 11:56] ritik307 commented on #260
@Souvikns Will surely start exploring the glee. 😄

[2022-05-13 12:05] ayushpaharia commented on #260
#265 -  Looks interesting. I'll get started with playing around with glee. See you in [asyncapi/community/#352](https://github.com/asyncapi/community/issues/352) :100: @Souvikns

[2022-05-14 11:11] abhishek-iiit commented on #27
Hi @fmvilas, I would love to contribute to this Project under AsyncAPI Mentorship. I did gone through the issue and I believe under your/mentor guidance and support, I can be able to make it and lead it to a success.

Looking forward and making out plans to execute to this project :)

[2022-05-14 14:51] ritik307 commented on #255
@fmvilas I would like to work on this issue. 😊

[2022-05-14 20:36] Sihamtahi commented on #261
Hi, I want to work on this issue for the GSOC . I am working in my internship on the automatic generation of a formalism-b to java. I want to take the challenge with the AsyncAPI documentation too

[2022-05-16 10:32] fmvilas commented on #261
Awesome, @Sihamtahi! @AceTheCreator did you start working on the issue already? If this issue gets selected for the Mentorship program and @Sihamtahi is selected as well, maybe you can mentor her. How does that sound? I hope it's not too late and you have the code running in your machine 😄

[2022-05-16 11:45] AceTheCreator commented on #261
I've started working on it already and I think I'm almost done, I didn't know it's part of the mentorship program. @fmvilas what do I do? 😂 @Sihamtahi can you pick another issue and I'm willing to help you

[2022-05-16 12:08] Sihamtahi commented on #261
Hello @fmvilas @AceTheCreator this is brilliant 😂😂. Yes, in fact, I have commented in other issues. So, if i was selected i will contact you.
Thank you 🙏

[2022-05-17 08:48] fmvilas commented on #261
Perfect! I'm removing the `gsoc` label to avoid confusion.

[2022-05-17 21:04] fmvilas commented on #257
I think this is a great read to start with: https://www.rabbitmq.com/protocol.html.

[2022-05-23 11:53] likitarai1 commented on #257
When will the selected issues be announced?

[2022-05-23 12:58] AceTheCreator commented on #261
Hey, @fmvilas any idea why I'm getting this error while trying to build the package?
![23 05 2022_13 56 03_REC](https://user-images.githubusercontent.com/40604284/169824479-c4e50638-0a12-4979-9fd6-d7b21e42da03.png)

[2022-05-23 16:51] fmvilas commented on #261
Uh! 🤔 I have no idea. I'm not getting this error. Check the Typescript version just in case.

[2022-05-23 18:51] fmvilas commented on #257
6th of June: https://github.com/asyncapi/community/discussions/284#discussioncomment-2508121

[2022-05-26 09:58] Souvikns commented on #259
@deepanshu44 are you still working on this? If you are and you are stuck I can help you and if not, let me know I would love to take it from your hand.

[2022-06-06 13:47] ritik307 commented on #260
@Souvikns I will be more than happy to be mentee for the mentioned issue 😁. Thank you so much for providing me the opportunity.🥳

[2022-06-08 17:46] fmvilas commented on #256
Congratulations @Ruchip16 for being selected for the AsyncAPI Mentorship program to work on this issue 🎉 I knew it was a good choice 😄 I'll be sending DM to you on Slack so we can start working on it when it's best for both.

[2022-06-08 17:46] fmvilas commented on #27
Congratulations @sudoshreyansh for being selected for the AsyncAPI Mentorship program to work on this issue 🎉

[2022-06-08 18:36] Ruchip16 commented on #256
sureee suree cant wait to dive deep into the issue

[2022-06-10 08:48] sudoshreyansh commented on #27
Thanks @fmvilas !

[2022-06-21 06:39] deepanshu44 commented on #259
@Souvikns Thanks for expressing interest. As I find it a bit difficult to work in this issue right now and it would take a bit more time to get back on this, I would like to handover this issue to you as don't want to act as a bottleneck for this issue to get into production.

[2022-07-18 10:40] atharvagadkari05 commented on #258
@fmvilas Is this issue still open for work?
 I was unable to make it through the mentorship program can I still work on this issue???

[2022-07-19 09:24] #268 closed

[2022-07-26 09:32] Souvikns opened #322 "using glee with nextjs as a custom server"
I have been trying to connect `nextjs` and `glee` together and currently having some issues, I am opening this issue to talk about my approach and the problems that I am currently facing and to discuss new ideas.

### The Idea
Since `nextjs` already allows us to have custom servers as shown [here](https://nextjs.org/docs/advanced-features/custom-server), we should be able to use glee as a custom s

[2022-07-28 08:00] atharvagadkari05 commented on #258
I'm kinda stuck on this issue, don't know where to start. Can anyone guide me for the same?

[2022-07-29 12:08] fmvilas commented on #258
@atharvagadkari05 I'm happy to guide you. I'll ping you after August 15th, I'm going on holiday now.

[2022-08-22 16:15] fmvilas commented on #258
I'm back now, @atharvagadkari05. How can I help you? Where are you stuck? Would be awesome if you can share some code (if you have it) or provide a detailed explanation of why/where are you stuck. Happy to jump on a call if needed.

[2022-08-24 09:09] Souvikns opened #325 "How to stop a loop in a lifecycle events?"
#### Reason/Context
So according to https://github.com/asyncapi/glee/blob/master/docs/lifecycle-events.md we can create lifecycle events and bind them to an event, Now we do have examples where we create loops to stream a series of data, How do we stop this loop say to react to any other event since I can only subscribe to only one event I have no way terminate the loop say any other event occurs

[2022-08-28 07:41] atharvagadkari05 commented on #258
Thanks for the reply @fmvilas 👍. I haven't written any code, I was just reading about different protocols (AMQP and its versions).
As you mentioned I checked the `adapter` folder and different files (MQTT and socketio). I just need to know where I can start and what to do further. It would be fantastic if you could guide me to some sources(Blogs, Docs).

Once I know what to do I can proceed with m

[2022-08-28 13:11] fmvilas commented on #206
Still relevant, don't stale it :)

[2022-08-28 13:13] fmvilas commented on #258
@atharvagadkari05 I'm doing a Glee codebase onboarding session tomorrow at 4 PM CEST. Do you want to join?

[2022-08-28 17:12] atharvagadkari05 commented on #258
@fmvilas Sure 👍

[2022-09-04 20:03] fmvilas commented on #25
This is still relevant, @github-actions. Please don't close it 🙏

[2022-09-21 18:08] fmvilas commented on #257
@likitarai1 in the end this issue wasn't selected for the mentorship program. Do you want to contribute it?

[2022-09-22 06:20] likitarai1 commented on #257
@fmvilas I want to contribute but I feel it's too complex for me right now. Would try to start from basics, get familiar with AsyncAPI and in future if the issue is still open, might even work on this.

[2022-09-22 10:43] fmvilas commented on #261
@AceTheCreator in the end, I also faced this issue and got a fix for it: https://github.com/asyncapi/glee/pull/326.

[2022-09-22 10:48] fmvilas commented on #257
Fair. In any case, if you need help, I'm currently running meetings with some other folks to help them get familiar with Glee and AsyncAPI. Reach out to me on Slack if you want to be invited.

[2022-10-01 10:25] AceTheCreator opened #336 "'substr' is deprecated. A legacy feature for browser compatibility"
Learn more about this issue [here](https://sonarcloud.io/project/issues?resolved=false&types=CODE_SMELL&id=asyncapi_glee&open=AX-nf2z8jlnhaeXs1NYe)

[2022-10-01 10:27] AceTheCreator opened #337 "Refactor code to not use nested template literals."
Learn more about this issue [here](https://sonarcloud.io/project/issues?resolved=false&types=CODE_SMELL&id=asyncapi_glee&open=AX5oj7MJ7Nfw18hwVRNV)

[2022-10-01 10:28] AceTheCreator opened #338 "'./message.js' import is duplicated."
Learn more about this issue [here](https://sonarcloud.io/project/issues?resolved=false&types=CODE_SMELL&id=asyncapi_glee&open=AX8HAGJbd2PbuIflvC3u)

[2022-10-03 06:56] derberg commented on #338
/gfi js

[2022-10-03 06:57] derberg commented on #336
/gfi javascript

[2022-10-03 06:58] toukirkhan commented on #338
Can you please assign me this?

[2022-10-03 10:53] derberg commented on #338
@toukirkhan as I wrote in https://github.com/asyncapi/website/issues/998#issuecomment-1265264681 we do not assign issues here. You can easily block all the others from work this way. What matters is who opens up a PR first.

[2022-10-07 08:48] fmvilas commented on #256
We're working on it dear bot. Don't close it :)

[2022-10-10 09:47] #337 closed

[2022-10-10 15:37] #336 closed

[2022-10-10 15:56] fmvilas commented on #27
Dear bot, don't mark it as stale, it's in the works right now.

[2022-10-18 08:00] atharvagadkari05 commented on #258
@Souvikns @fmvilas  I think I've found the official documentation for the AMQP JavaScript client (Rhea)
https://access.redhat.com/documentation/en-us/red_hat_amq/7.0/html-single/using_the_amq_javascript_client/index
Can you please confirm?
Also, I'm planning to open a draft PR so that you can track my progress.

[2022-10-18 11:17] Souvikns opened #347 "Improve glee config file to support protocol specific authtication"
#### Reason/Context
The current `glee.config` file supports only custom WebSocket servers, it would be nice if it could also help with authentication and passing in environment variables. This feature would help #319 pass in authentication details and find a better way to pass in authentication variables for the current `mqtt` adapter. https://github.com/asyncapi/glee/blob/845db8983b19699d6c5277af

[2022-10-18 16:50] fmvilas commented on #258
This is not the official rhea docs AFAIK. This is just an RH library making use of rhea if I understood correctly.

[2022-10-20 04:19] fmvilas commented on #259
We're working on it on #319

[2022-10-26 14:55] KhudaDad414 opened #353 "Error after running `create-glee-app`"
Operating system: macOS Monterey 12.6
Node: 16
#### Describe the bug
When I try to run a project generated by glee using `npm run dev` command it shows this error:
[code]

#### How to Reproduce
1) run `npx create-glee-app app-name`
2) run `cd app-name`
2) run `npm run dev`

#### Expected behaviour
It shouldn't show any error and run as demonstrated.

[2022-10-26 14:56] KhudaDad414 commented on #353
@fmvilas @Souvikns any ideas? 🤔

[2022-11-01 12:25] KhudaDad414 commented on #353
problem solved by upgrading the glee version.

[2022-11-01 12:25] #353 closed

[2022-11-10 18:07] peter-rr opened #357 "Not possible to connect to MQTT server when launching glee app"
#### Describe the bug
I'm not able to to connect to an MQTT server (located in a docker container) when trying to launch my glee app.

#### How to Reproduce

- Execute `npm run dev` in a glee project containing the _asyncapi.yaml_ and _.env_ files shared [here](https://gist.github.com/peter-rr/c068c5d67b7223c4c18de489746dcd50).

- URLs tested in `servers/development/url` at asyncapi file: `0.0.0.0

[2022-11-11 18:45] peter-rr opened #358 "[📑 Docs]: Improve content under Functions section on Glee documentation"
### What Dev Docs changes are you proposing?

I would propose to include some information about `subscribe` operations under [Functions section on Glee documentation](https://github.com/asyncapi/glee/blob/master/docs/functions.md).

From my point of view it's pretty clear how Glee interacts with `publish` operations. However, at the time of building a Glee project I've been wondering what happens

[2022-11-11 20:01] peter-rr opened #359 "[📑 Docs]: Improve content under Application Structure on Glee documentation"
### What Dev Docs changes are you proposing?

I would propose to add some specific clarification about the `asyncapi.yaml` file under [Application Structure section on Glee documentation](https://github.com/asyncapi/glee/blob/master/docs/app-structure.md).

Basically, I think It might be useful to clarify the `asyncapi.yaml` file name must not be changed since you can easily make the same mistake

[2022-11-14 05:21] fmvilas commented on #358
Yeah, it's a bit awkward but the reasoning is that `subscribe` in AsyncAPI means that your app is sending a message. The `functions` folder is there for reacting to the messages received instead. The messages sent by your app must be defined as part of a [lifecycle event](https://github.com/asyncapi/glee/blob/master/docs/lifecycle-events.md) or as a response to one of the functions in the `functio

[2022-11-14 21:34] peter-rr opened #360 "[Docs Bug 🐞 report]: Wrong variable name under Lifecycle Events on Glee documentation"
### Describe the bug you found in AsyncAPI Docs.

I'd like to report a bug I found in a code snippet under [Lifecycle Events on Glee documentation](https://github.com/asyncapi/glee/blob/master/docs/lifecycle-events.md#restricting-the-lifecycle-event).

### Bug description
In case we want to restrict the lifecycle event by channel/topic, the variable name we are suggested to use should not be `serv

[2022-11-23 13:01] #347 closed

[2022-11-28 06:23] fmvilas commented on #223
@miguelrk are you still interested in contributing this?

[2022-11-30 06:09] fmvilas commented on #223
I think it's still an interesting concept to explore. Maybe someone else wants to pick it up?